@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0rem;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--main-color);
}
.nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  bottom: 0;
  justify-items: center;
  text-align: center;
  background-color: var(--nav-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100px;
  transition: width 400ms ease-in-out;
  position: absolute;
}
.nav:hover {
  width: 206px;
}
.nav:hover p {
  display: block;
}
p {
  display: none;
  color: var(--grey-color);
  text-align: left;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}
.logo {
  display: block;
  margin: 0 auto;
  margin-top: 52px;
}
nav > hr {
  width: 62px;
  height: 2px;
  border: none;
  border-bottom: 2px solid var(--grey-color);
  align-self: center;
  padding-bottom: 32px;
  transition: width 0.4s ease-in 0s;
}
.nav:hover hr {
  width: 128px;
}
.icon {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  min-width: 89px;
  width: 206px;
  height: 57px;
  padding-left: 30px;
  border-radius: 25px 0 0 25px;
}
.icon:hover {
  background-color: var(--white-color);
}
.icon.home {
  margin: 0px 38px 0 0px;
}
.icon.calendar {
  margin: 0px 38px 0 0px;
}
.icon.fe {
  margin: 0px 38px 0 0px;
}
.icon.games {
  margin: 0px 30px 0px 0px;
}
.main {
  display: grid;
  grid-template-rows: 1fr 1.5fr 1fr;
  background-color: var(--main-color);
  margin-bottom: 1rem;
}
.row1 {
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem 1.5rem 2rem;
}
.row1 h2 {
  font-family: "Montserrat";
  font-weight: lighter;
}
.col1 {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 3rem;
}
.col2 {
  display: grid;
  justify-content: center;
  align-items: center;
}
#today {
  display: grid;
  width: 516px;
  height: 147px;
  background: var(--white-color);
  color: var(--secondary-color);
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  line-height: 44px;
}
.row2 {
  display: grid;
  width: 100%;
  grid-column: 1 / span2;
  background-image: url(/assets/workplace.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.row3 {
  display: grid;
  grid-column: 1 / span2;
  justify-content: center;
  align-items: center;
}
.qoute {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 898px;
  height: 121px;
  text-align: center;
  border: 2px solid #02577a;
  border-radius: 25px;
}
.footer {
  display: grid;
  width: 100vw;
  justify-content: center;
  text-align: center;
  background-color: var(--main-color);

  z-index: -1;
  bottom: 0;
}
.copyright {
  width: 346px;
  font-size: 11px;
  color: var(--secondary-color);
  border-top: 1px solid var(--secondary-color);
  padding: 11px 0;
}
@media only screen and (max-width: 800px) {
  .row1 {
    margin-left: 3rem;
  }
  .col1 {
    grid-column: 1 / span2;
    order: 2;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .col2 {
    order: 1;
    grid-column: 1 / span2;
    padding-bottom: 2rem;
  }
  #today {
    width: 316px;
    height: 120px;
    background: var(--white-color);
    color: var(--secondary-color);
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  .row2 {
    height: 30vh;
  }
  .qoute {
    width: 400px;
    height: 150px;
    transform: scale(-10rem 10rem);
  }
  .row3 {
    display: grid;
    transform: scale(-10rem 10rem);
    align-items: center;
  }
}
